@font-face{
  font-family: 'Source Code Pro';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url('SourceCodePro-Regular.otf.woff2') format('woff2');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  src: url('SourceCodePro-Bold.otf.woff2') format('woff2');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url('SourceCodePro-Black.otf.woff2') format('woff2');
}

:root {

  --top_bar_icon_fill: #c7b480;
  --top-bar-text: #a79f89;

  --selection-shadow-color: rosybrown;


  --caret-focus-color: #ff7200;
  --caret-anchor-color: #ffa760;

  --outer-silhouette-color: #ffdf00;
  --inner-silhouette-color: var(--light-page-color);

  --line-height: 1.45;
  --selection-box-z: 1;
  --empty-hole-z: 5;
  --tile-z: 4;
  --code-text-z: 6;
  --bar-z: 0;
  --anchor-z: 14;
  --caret-z: 14;


  /* tylr colors */
  /* --light-page-color: #fdf6e3; */
  /* --light-text-color: #586e75; */
  /* --parse-error-color: #e05114; */
  /* --selection-color: #ffd5be; */

  --light-page-color: #fafafa;
  --light-text-color: #486a74;

  --selection-color: #c1caca;

  --parse-error-color: #F85F5F;
  --unlexed-color: var(--parse-error-color);
  /* --hole-color : #c053df; */
  --hole-color: var(--parse-error-color);
  --grout-color : var(--parse-error-color);
}

#page {
  overflow-x: auto;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: var(--light-page-color);
  color: var(--light-text-color);
}

#editor-id {
  color: var(--top-bar-text);
  display: flex;
  gap: 0.5em;
  cursor: pointer;
  user-select: none;
  font-family: "Helvetica Neue";
}

#logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#logo-text {
  position: relative;
  vertical-align: middle;
  z-index: var(--code-text-z);
  line-height: 1.7;
}

#font-specimen, #logo-font-specimen {
  position: fixed;
  left: 100%;
}

#logo-font-specimen, #logo {
  font-family: "Fira Code", monospace;
  font-weight: bold;
  font-size: 16pt;
}

#font-specimen, #code-container {
  line-height: var(--line-height);
  font-family: "Source Code Pro", monospace;
  font-weight: normal;
  font-size: 13pt;
}

#code-container {
  margin: 4em 6em 6em 6em;
  cursor: text;
  user-select: none;
  white-space: pre;
  tab-size: 4;
  -moz-tab-size: 4;
}

#clipboard-shim {
  position: fixed;
  opacity: 0.01;
  width: 1em;
  height: 1em;
  top: -1em;
  left: -1em;
}

.lytr-token {
  display: inline;
  white-space: pre;
  tab-size: 4;
  -moz-tab-size: 4;
}

.lytr-token.operator {
  color: var(--exp-text-color);
  font-weight: bold;
}

.lytr-token.paren {
  color: var(--exp-text-color);
  font-weight: bold;
}

.lytr-token.atom {
  color: var(--exp-text-color);
}

.lytr-token.unlexed {
  color: var(--unlexed-color);
}

.lytr-token.hole {
  color: var(--hole-color);
  /* background-color: var(--exp-bg-color); */
  /* border-radius: 2px; */
  /* padding: 0 2px; */
}

.lytr-token.error {
  color: var(--parse-error-color);
  /* background-color: #ffe6e6; */
  /* border-radius: 2px; */
  /* padding: 0 2px; */
  /* font-style: italic; */
}

/* Term outline styling - provides visual boundary around each term */
.lytr-term-outlined {
  display: inline-block;
  border: 1px solid var(--selection-color) !important; /* Very obvious red border for debugging */
  border-radius: 3px;
  margin: 1px 1px;
  padding: 1px 1px;
}

.lytr-parens, .lytr-times, .lytr-minus, .lytr-negative {
  display: inline-block;
}

/* Override grout SVG sizing for lytr holes */
.lytr-grout .lytr-hole-svg {
  color: var(--grout-color);
  width: 1em !important;
  height: 1em !important;
  display: inline-block !important;
  vertical-align: middle !important;
}

.lytr-hole-svg path {
  transform: none !important; /* Override grout path transform */
}

/* Grout dot styling */
.lytr-token.lytr-grout {
  color: var(--grout-color);
}

/* Grout dot styling */
.hole {
  color: var(--hole-color);
}

/* LytrTerms cursor styling */
.lytr-cursor {
  position: absolute;
  color: var(--caret-focus-color);
  font-weight: bold;
  pointer-events: none;
  z-index: var(--caret-z);
  font-size: 1.2em;
  line-height: 1;
}

.with-cursor {
  position: relative;
}

.cursor-indicator {
  height: 1.2em;
  display: inline-block;
  width: 2px;
}